<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" 
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <display-name>Mi Aplicación EAP</display-name>
    
    <!-- Configuración JSF -->
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <context-param>
        <param-name>jakarta.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>2</param-value>
    </context-param>
    
    <context-param>
        <param-name>jakarta.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <!-- Configuración Primefaces -->
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
	    <param-name>primefaces.THEME</param-name>
	    <!-- Opciones populares: -->
	    <param-value>saga</param-value>       <!-- Tema claro (default) -->
	    <!-- <param-value>arya</param-value>     Tema oscuro -->
	    <!-- <param-value>vela</param-value>     Tema azul -->
	    <!-- <param-value>nova-colored</param-value> Tema colorido -->
	    <!-- <param-value>luna-amber</param-value>   Tema ámbar -->
	</context-param>
    
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error.xhtml</location>
    </error-page>
</web-app>